*{
    margin: 0;
    padding: 0;
}

/* HEADER */


header {
width: 100%;
height: 100vh;
background: url(accueil-images/image\ couv.jpg) no-repeat
50% 50%;
background-size: cover;
}

header a {
    text-decoration: none;
}

header li {
    list-style-type: none;
}

.liste{
    display: none;
}
.iconesheadermobile, .searchburger {
    display: none;
}

.cache {
    display: none;
}

nav > ul li:hover .cache {
    display: block;
}

.logokamei, header .menuvisible {
    font-family: 'B612 Mono';
}

.logokamei {
    color: #656D41;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 5px;
}

.menuvisible {
    font-size: 20px;   
}

.menuvisible, header .cache li, header .cache a:visited {
    color: black;
}

.promorouge {
    color: #E06D49;
}

.searchheader input, header .cache li {
    font-family: 'Tajawal';
}

header nav a:hover, header .cache li a:hover{
    color: #656d41ff;
}

header .cache li {
    padding: 5px;
    font-size: 20px;
    /* background: white; */
}

.searchheader input {
    border: none;
    border-bottom: solid black 0.5px;
    font-size: 14px;
}

.searchheader img {
    object-fit: contain;
}

.searchheader, .iconesheader, .headertop, header nav ul{
    display: flex;
}

.searchheader {
    gap: 10px;
    align-items: flex-end;
}

.headertop {
    justify-content: space-between;
    align-items: center;
}

.iconesheader {
    gap: 20px;
}

header nav ul {
    justify-content: space-evenly;
   margin-top: 20px;
}


@media (max-width: 750px) {

   
/* PARTIE HAMBURGER */
#side-bar{
    position:absolute;
    width:180px;
    height:30%;
    background: #656D41;
   left:-300px;
    transition:.5s ease-out;
    z-index: 4;

}
.toggle-button{
  position:absolute;
 top:-50px;
  left:310px;
  cursor:pointer;
  height: 30px;
  width:30px;


}
.liste{
    display:block;
}

.toggle-button span{
    display: block;
    margin-top:4px;
    transition: 0.5s ease;
    width:40px;
    height:10px;
    border-radius:4px;
    background: #656D41;

}

 .liste{
    /* color: white; */
    list-style-type: none;
    font-size:20px;
    cursor:pointer;
    padding-left:5px;
    font-family: 'tajawal';
    font-weight:normal;

}
 .liste:hover{
    background: #292929;
    /* color:#fcfcfb; */
}


#side-bar.active{
    left:0;
}
#side-bar.active.toggle-button{
    top:2.8rem;
    left:235px;
}


#side-bare.active span{

  position:absolute;

}

.burgermagie {
    display: block;
}
}

/* VIDEO */

/* .video{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
} */

.img-responsive{
    display: none;
}
/* STRUCTURE PHOTOS */


/* .grid{
    display: grid;
    grid-gap: 20px;
} */

#rubrique{
    display: grid;
    grid-gap: 20px;
}


body{
    background: rgba(240, 238, 245, 0.65);
}

section{
    padding-top: 85px; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    /* border: 2px solid black; */
}

 .flex{
     flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    display: block;
    max-width: 100%;
}

.texte{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 64px;
    line-height: 77,76px;
    font-family: 'B612 Mono', monospace;
}
.matiere-eco{
    grid-area: matiere-eco;
    padding-left: 36px;
    padding-top: 85px;
    /* border: 1px solid black; */
    grid-column: 1/3;
    grid-row: 1/3;
}

.lingerie{
    grid-area: lingerie;
    /* border: 1px solid black; */
    grid-column: 3/5;
    grid-row: 2/4;
}

.nouvelle-co{
    grid-area: nouvelle-co;
    padding-top: 84px;
    /* border: 1px solid black; */
    grid-column: 1/5;
    grid-row: 4/5;
}


/* FOOTER */

footer {
    display: grid;
    background: white;
    padding: 20px 30px;
    grid-column: 1/5;
    grid-row: 5/6;
    grid-template-areas: ". reseaux newsletter" "footernav footernav footernav" "hr hr hr" ". logopaiement .";
}

.newsletter p, .newsletter input, .newsletter button, nav a {
    font-family: 'Tajawal', sans-serif;
}

.reseaux {
    display: flex;
    grid-area: reseaux;
    padding: 45px 0;
    justify-content: flex-start;
    gap: 45px;
}

.reseaux a {
    display: flex;
    justify-content: center;
}

.newsletter {
    display: flex;
    grid-area: newsletter;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 20px;
    padding: 5px 20px;
}

.newsletter p {
    font-size: clamp(18px, 10vw, 24px);
    grid-area: abonnezvous;
}

.newsletter input, .newsletter button {
    box-shadow: none;
    border: none;
    font-size: 18px
}

.newsletter input {
    text-align: right;
    /* border-bottom: black solid 0.5px; */
    border-bottom:  #948785 solid 0.5px;
    color: #948785;
    padding: 2px;
    cursor: text;
    grid-area: email;
}

.newsletter button {
    background: #C3BBBA;
    color:white;
    height: 30px;
    min-width: 250px;
    cursor: pointer;
    grid-area: bouton;
}

.logopaiementmob {
    display: none;
    grid-area: logopaiementmob;
}

.logopaiement {
    display: flex;
    grid-area: logopaiement;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px;
    margin-bottom: 20px;
}

footer hr {
    grid-area: hr;
    width: 80%;
    justify-self: center;
    margin: 15px 50px;
    /* color: aqua; */
}

footer nav {
    display: flex;
    grid-area: footernav;
    /* justify-content: space-evenly; */
    padding: 5px 20px;
}

footer nav img {
    display: block;
    object-fit: contain;
    /* margin: auto; */
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 

footer nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    /* justify-content: space-between; */
}

footer nav ul {
    display: flex;
    margin: 50px; 
}

.deroulant a {
    display: flex;
}

footer nav ul ul {
    display: flex;
    flex-direction: column;     
}

.cache a {
    font-size: 18px;
    color:  #948785;
}


/* .cache {
    display: none;
} */

/* nav > ul li:hover .cache {
    display: block;
} */

/* MEDIA QUERIES IMAGES */

@media(max-width:1219px){
    #rubrique{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

.matiere-eco{
    margin: 0;
    padding: 0;
}

 }  
 
 @media(max-width:690px){
     header .background {
         display: none;
     }
     header{
width: 100%;
height: 100vh;
background: url(accueil-images/Kordal\ tel.jpg) no-repeat
50% 50%;
background-size: cover; 
     }
 }


/* ===> MEDIA QUERIES FOOTER <=== */

@media (max-width: 1163px) {
    
    footer nav ul {
        gap: 70px;
    }

    footer nav ul ul a {
        font-size: 18px;
        color:  #948785; 
    }

    .newsletter p {
        font-size: 18px;
    }

    footer nav a {
        font-size: 18px;
    }

    .logopaiement {
        display: none;
    }

    .logopaiementmob {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 10px;
        margin-bottom: 20px;
    }

    footer {
        grid-template-areas: ". reseaux newsletter" "footernav footernav footernav" "hr hr hr" ". logopaiementmob .";
    }

    .newsletter button {
        min-width: 180px;
    }

}

@media (max-width: 900px) {
    
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "reseaux reseaux" "footernav newsletter" "hr hr" "logopaiementmob logopaiementmob";
        padding: 18px 15px;
    }

    /* footer nav {
        justify-content: flex-start;
        align-items: center;
    } */
 
    footer nav ul {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "apropos service" "mentions aide";
    }

    .aide {
        grid-area: aide;
    }

    .service {
        grid-area: service;
    }

    .apropos {
        grid-area: apropos;
    }

    .mentions {
        grid-area: mentions;
    }

    footer .newsletter, footer nav {
       padding: 10px;
    }

    .reseaux {
        gap: 25px;
        padding: 15px 0 30px;
    }

    .reseaux img {
        width: 80%;
    }

      .newsletter input, .newsletter button{
        font-size: 16px;
    }

}

@media (max-width: 800px) {

    footer {
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: auto auto auto auto; */
        /* grid-template-areas: "reseaux reseaux" "newsletter newsletter" "footernav footernav" "hr hr" "logopaiementmob logopaiementmob"; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 18px 15px;
    }

    footer input {
        width: 180px;
        border: none;
    }

    footer nav ul {
        gap: 30px;
    }

    /* .newsletter button {
        width: 170px;
    } */

    .newsletter {
        display: grid;
        grid-template-areas: "abonnezvous abonnezvous" "email bouton";
        margin-bottom: 30px;
    }

    .newsletter p {
        font-size: 20px;
        text-align: center;
    }

    .newsletter input {
        text-align: left;
    }

}

@media (max-width: 750px) {
    header {
        padding: 8px 20px;
    }

    header nav {
        display: none;
    }

    header .logokamei {
        font-size: 28px;
    }

    .searchheader, .iconesheader {
        display: none;
    }

    .searchburger {
        display: flex;
        gap: 35px;
    }

    .iconesheadermobile {
        display: flex;
        gap: 15px;
    }

   
    /* footer */

    footer {
        padding: 10px;
    }

    footer nav {
        justify-content: flex-end;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    footer nav ul {
        gap: 20px;
    }

    .logopaiementmob, .reseaux {
        flex-wrap: wrap;
        gap: 10px;
    }

}

    /* section{
     display: grid;
     grid-template-columns: 1fr 1fr;
    }   */
  
    /* .matiere-eco{
        grid-template-columns: 1/3;
        grid-row: 1/3;
  }

  .lingerie{
    grid-template-columns: 1/3;
    grid-row: 3/5;
  } */

  




         



