input{
   
    max-width: 150px;
    min-width:30px;
    height: 40.5px;
    background: url('image/Zone\ recherche\ \(1\).png')no-repeat center 50% ;
    border: none;
    
    
    }
    .image3{
        border:none;
        background: url('image/clarity_shopping-bag-line\ \(1\).png')no-repeat center/cover;
        max-width:34px;
        min-width:17px;
        height:40px;
      
    }
    
    .image2{
        border:none;
        background: url('image/clarity_user-line\ \(1\).png')no-repeat center/cover ;
        max-width:34px;
        min-width:17px;
        height:40px;
        
    }
    .image1{
        border:none;
        background: url('image/clarity_heart-line\ \(1\).png')no-repeat center/cover;
        max-width:25px;
        min-width:15px;
        height:40px;
        padding:20px;
        
       
    }
    header{
    width:auto;
    font-style: normal;
    font-weight: normal;
    max-width: 1536px;
    min-width: 400px;
    height: 140px;
    background: white;
    color:white;
    
    }
    
    .topbar{
        font-family: "B612 Mono";
        font-size:20px;
        display:flex;
        height:70px;
        justify-content: space-between;
        align-items: flex-end;
        margin:0px;
        padding:10px;
    
    }
    
    .active{
    
        color:#E06D49;
    }
    
    /*menue */
    
    header nav .sous-titre{
        color:black;
        height: 70px;
    }
        
    header nav ul {
        list-style: none;
        margin:0px  80px;
        padding:0px;
    }
    
     header nav ul li{
         margin:0px ;
         padding:0px;
         float:left;
         width:200px;
         height: 40px;
         background:white;
         line-height:40px;
         text-align: center;
    
     }
    
     header nav ul li  a{
         display:block;
         color:#948785;
         font-size: 20px;
         font-family: 'tajawal';
         
    
     }
    
     header nav ul li a:hover{
         color:violet;
         opacity:0.3px;
     }
    
     header nav ul li ul li{
         display:none;
     }
    
     header nav ul li:hover ul li{
         display:block;
    
     }
     .sous-titre{
   
        font-family: 'B612 Mono';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        
        }
        .titre{
            
        font-family: 'Tajawal';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
        color: #000000;
        padding:10px;
        }
        @media all and (max-width:850px){
    
            nav{
                display:block;
                position:absolute;
                left:0px;
                right:0px;
                transform: translate(-1000px,0);
                transition:all 0.5s ease;
         
            }
         
           nav>a{
                width:auto;
            }

            input{
    
                background: url(image/Icone\ recherche.png)no-repeat;
                width:20px;
                height:20px;
            }
            
            .image1{
                height:20px;
                margin:4px;
                width:20px;
                padding:0px;
                
            }
            
            .image2 {
              
                height:20px;
                margin:4px;
                width:20px;
                
            
            }
            
            .image3{
            
                height:20px;
                margin:4px;
                width:20px;
            }
        }