on doit faire ca dans la partie responsive

#side-bar{
    position:absolute;
    width:180px;
    height:30%;
    background: #656D41;
   left:-300px;
    transition:.5s ease-out;
    z-index: 4;

}
.toggle-button{
  position:absolute;
 top:-50px;
  left:310px;
  cursor:pointer;
  height: 30px;
  width:30px;
 

}
.liste{
    display:block;
}

.toggle-button span{
    display: block;
    margin-top:4px;
    transition: 0.5s ease;
    width:40px;
    height:10px;
    border-radius:4px;
    background: #656D41;

}
    
 .liste{
    color: white;
    list-style-type: none;
    font-size:20px;
    cursor:pointer;
    padding-left:5px;
    font-family: 'tajawal';
    font-weight:normal;
    
}
 .liste:hover{
    background: #292929;
    color:#fcfcfb;
}


#side-bar.active{
    left:0;
}
#side-bar.active.toggle-button{
    top:2.8rem;
    left:235px;
}


#side-bare.active span{

  position:absolute;

}

#side-bare.active span:nth-child(1) {
    transform: rotate(45deg);
}

#side-bare.active span:nth-child(2) {
   opacity:0;
}


#side-bare.active span:nth-child(3) {
    transform: rotate(45deg);
}
/*il faut pas mettre des espaces entre la classe active et #side-bar sinon ne fonctionne pas*/

dans le css normal il faut mettre juste 

liste{
    display:none;
}