* {
    margin: 0;
    padding: 0;
}

body {
    background: #F2EBEA;
    font-family: 'B612 Mono', sans-serif;
}

/*---------------------- HEADER LYNDA ----------------------*/
input{
   
    max-width: 150px;
    min-width:30px;
    height: 40.5px;
    background: url('image/Zone\ recherche\ \(1\).png')no-repeat center 50% ;
    border: none;
    
    
    }
    .image3{
        border:none;
        background: url('image/clarity_shopping-bag-line\ \(1\).png')no-repeat center/cover;
        max-width:34px;
        min-width:17px;
        height:40px;
      
    }
    
    .image2{
        border:none;
        background: url('image/clarity_user-line\ \(1\).png')no-repeat center/cover ;
        max-width:34px;
        min-width:17px;
        height:40px;
        
    }
    .image1{
        border:none;
        background: url('image/clarity_heart-line\ \(1\).png')no-repeat center/cover;
        max-width:25px;
        min-width:15px;
        height:40px;
        padding:20px;
        
       
    }
    header{
    width:auto;
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    max-width: 1536px;
    min-width: 400px;
    height: 140px;
    background: white;
    color:white;
    
    }
    
    .topbar{
        display:flex;
        height:70px;
        justify-content: space-between;
        align-items: flex-end;
        margin:0px;
        padding:10px;
    
    }
    
    .active{
    
        color:red;
    }
    
    /*menue */
    
    header nav .sous-titre{
        color:black;
        height: 70px;
    }
        
    header nav ul {
        list-style: none;
        margin:0px  80px;
        padding:0px;
    }
    
    header nav ul li{
         margin:0px ;
         padding:0px;
         float:left;
         width:200px;
         height: 40px;
         background:white;
         line-height:40px;
         text-align: center;
    
     }
    
     header nav ul li  a{
         display:block;
         
    
     }
    
     header nav ul li a:hover{
         color:violet;
         opacity:0.3px;
     }
    
     header nav ul li ul li{
         display:none;
     }
    
     header nav ul li:hover ul li{
         display:block;
    
     }

    a{
        text-decoration:none;
        color:black;
    }
    
     ul li {
       list-style-type: none;
    }
    
    .title1{
    font-size: max(2vw,35px);
    line-height: 140.5%;
    letter-spacing: 0.25em;
    color: #656D41;
    
    
    }
    .nom{
        font-family: B612 Mono;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
       color: #000000;
    }
    .sous-nom{
    font-family:tajawal;
    font-size: 20px;
    color:black;
    font-weight: normal;
    
    }
    
    .sous-titre{
       
    font-family: B612 Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    
    
    
    }
    .titre{
        
    font-family: Tajawal;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    }
    
    #lab{
        width: 30px;
        height:30px;
        background:linear-gradient(#000000 0%,#000000 20%,transparent 21%, transparent 40%,#000000 41%, 
        #000000 60%,transparent 61%,
        transparent 80%, #000000 81%,#000000 100%);
        margin:10px;
        display:none;
    }
    
    #ch{
    
        display :none;
    }
/*---------------------------- MON CSS ----------------------------*/

main {
    flex-direction: column;
    align-items: center;
    /* margin: 0 115px;
    gap: 75px; */
}

a {
    text-decoration: none;
    color: #656D41;
}

section {
    display: flex;
    margin: 34px auto 50px;
}

.box {
    padding: 20px;
}


.grid {
    display: grid;
    grid-gap: 20px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1, p {
    text-align: left;
    gap: 20px;
}

h1 {
    font-family: 'tajawal', sans-serif;
    font-size: 48px;
}

h2 {
    font-family: 'tajawal', sans-serif;
    font-size: 40px;
}

h4 {
    font-family: 'tajawal', sans-serif;
    font-size: 24px;
    font-weight: normal;
}

p {
    font-family: 'B612 Mono', sans-serif;
    font-size: 18px;
}

nav {
    color: #656D41;
}

section img {
    display: block;
}

.color {
    width: auto;
}

.box0 a, nav a, nav p {
    display: flex;
    font-family: 'B612 Mono', monospace;
    font-size: 18px;
}

.box0 nav {
    margin: 37.5px 25px;
    justify-content: space-between;
    flex-direction: row;
}

/*----------------------- SECTION 1 -----------------------*/
#s1 {
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 115px 75px 115px;
}

#s1 .photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#s1 .a {
    color: #656D41;
}

#s1 .box1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#s1 .box2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

#s1 .box3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#s1 .box4 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#s1 .box5 {
    grid-column: 3/5;
    grid-row: 1/3;
}

/*---------------------- Détail du vêtement ----------------------*/
#s1 .box5 {
    margin-bottom: 20px;
}

#détail p {
    font-family: 'tajawal', sans-serif;
    font-size: 20px;
}

.taille {
    flex-direction: row;
}

.taille a {
    color: black;
}

button {
    width: 545px;
    height: 57.57px;
    border: 1px solid black;
    box-sizing: border-box;
}

.button1 {
    background: #A7B46C;
    color: #ffffff;
    width: 545px;
    height: 57.57px;
    font-family: 'B612 Mono', sans-serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button2 {
    background: #ffffff;
    color: black;
    width: 545px;
    height: 57.57px;
    font-family: 'B612 Mono', sans-serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#box .img {
    width: 20px;
    height: 20px;
}

#détail .icon-plus {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


/*----------------------- SECTION 2 -----------------------*/
#s2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
}

#s2 .recommandations {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#s2 .box {
    margin: 20px;
}

/*------------------ ICÔNES LIVRAISON --------------------*/
/*------------------ Ce que j'ai fais --------------------*/
#s3 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    margin-bottom: 75px;

}

#s3 .box {
    gap: 30px;
}

#s3 .b2 {
    margin-bottom: 40px;
}

#s3 .b3 {
    margin-bottom: 35px;
    gap: 10px;
}

#s3 .b4 {
    margin-bottom: 10px;
}

#s3 img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    margin: auto;
}

#s3 p {
    text-align: center;
}

/*----------------------- FOOTER LOUISE -----------------------*/
/* Marche à condition d'avoir bien mis ces 2 paramètres de base au début du HTML + les liens googlefont Tajawal et B612 dans leur différents weight dans le head */

img {
    display: block;
    max-width: 100%;
}

/* ===>  footer pour tout le monde <=== */

footer {
    display: grid;
    background: white;
    padding: 20px 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: ". reseaux newsletter" "footernav footernav footernav" "hr hr hr" ". logopaiement .";
}

.newsletter p, .newsletter input, .newsletter button, nav a {
    font-family: 'Tajawal', sans-serif;
}

.reseaux {
    display: flex;
    grid-area: reseaux;
    padding: 45px 0;
    justify-content: center;
    gap: 45px;
}

.reseaux a {
    display: flex;
    justify-content: center;
}

.newsletter {
    display: flex;
    grid-area: newsletter;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 20px;
    padding: 5px 20px;
}

.newsletter p {
    font-size: clamp(18px, 10vw, 24px);
    grid-area: abonnezvous;
}

.newsletter input, .newsletter button {
    box-shadow: none;
    border: none;
    font-size: 18px
}

.newsletter input {
    text-align: right;
    /* border-bottom: black solid 0.5px; */
    border-bottom:  #948785 solid 0.5px;
    color: #948785;
    padding: 2px;
    cursor: text;
    grid-area: email;
}

.newsletter button {
    background: #C3BBBA;
    height: 30px;
    min-width: 250px;
    cursor: pointer;
    grid-area: bouton;
}

.logopaiementmob {
    display: none;
    grid-area: logopaiementmob;
}

.logopaiement {
    display: flex;
    grid-area: logopaiement;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px;
    margin-bottom: 20px;
}

footer hr {
    grid-area: hr;
    width: 80%;
    justify-self: center;
    margin: 15px 50px;
    /* color: aqua; */
}

footer nav {
    display: flex;
    grid-area: footernav;
    justify-content: space-evenly;
    padding: 5px 20px;
}

footer nav img {
    display: block;
    object-fit: contain;
    /* margin: auto; */
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

footer nav ul {
    display: flex;
    gap: 162px;
}

.deroulant a {
    display: flex;
}

footer nav ul ul {
    display: flex;
    flex-direction: column;     
}

.cache a {
    font-size: 18px;
    color:  #948785;
}

.cache {
    display: none;
}

nav > ul li:hover .cache {
    display: block;
}


/* ===> MEDIA QUERIES FOOTER <=== */

@media (max-width: 1163px) {
    
    footer nav ul {
        gap: 70px;
    }

    footer nav ul ul a {
        font-size: 18px;
        color:  #948785; 
    }

    .newsletter p {
        font-size: 18px;
    }

    footer nav a {
        font-size: 18px;
    }

    .logopaiement {
        display: none;
    }

    .logopaiementmob {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin: 10px;
        margin-bottom: 20px;
    }

    footer {
        grid-template-areas: ". reseaux newsletter" "footernav footernav footernav" "hr hr hr" ". logopaiementmob .";
    }

    .newsletter button {
        min-width: 180px;
    }

}

@media (max-width: 900px) {
    
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "reseaux reseaux" "footernav newsletter" "hr hr" "logopaiementmob logopaiementmob";
        padding: 18px 15px;
    }

    /* footer nav {
        justify-content: flex-start;
        align-items: center;
    } */
 
    footer nav ul {
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "apropos service" "mentions aide";
    }

    .aide {
        grid-area: aide;
    }

    .service {
        grid-area: service;
    }

    .apropos {
        grid-area: apropos;
    }

    .mentions {
        grid-area: mentions;
    }

    footer .newsletter, footer nav {
       padding: 10px;
    }

    .reseaux {
        gap: 25px;
        padding: 15px 0 30px;
    }

    .reseaux img {
        width: 80%;
    }

      .newsletter input, .newsletter button{
        font-size: 16px;
    }

}

@media (max-width: 800px) {

    footer {
        /* grid-template-columns: 1fr 1fr; */
        /* grid-template-rows: auto auto auto auto; */
        /* grid-template-areas: "reseaux reseaux" "newsletter newsletter" "footernav footernav" "hr hr" "logopaiementmob logopaiementmob"; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 18px 15px;
    }

    footer input {
        width: 180px;
        border: none;
    }

    footer nav ul {
        gap: 30px;
    }

    /* .newsletter button {
        width: 170px;
    } */

    .newsletter {
        display: grid;
        grid-template-areas: "abonnezvous abonnezvous" "email bouton";
        margin-bottom: 30px;
    }

    .newsletter p {
        font-size: 20px;
        text-align: center;
    }

    .newsletter input {
        text-align: left;
    }

}

@media (max-width: 400px) {

    /* footer */

    footer {
        padding: 10px;
    }

    footer nav {
        justify-content: flex-end;
    }

    footer nav ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    footer nav ul {
        gap: 20px;
    }

    .logopaiementmob, .reseaux {
        flex-wrap: wrap;
        gap: 10px;
    }

}